{% extends 'base.html' %}

{% block content %}
<section class="hero-section bg-dark text-light text-center">
    <div class="container py-5">
        <h1 class="header-text">Welcome to Street Fighter Database {{ current_user.email }}!</h1>
    </div>
</section>

<div class="container my-5">
    <h3>Your Profile Details</h3>
    <ul class="list-group">
        <li class="list-group-item">Email: {{ current_user.email }}</li>
        <li class="list-group-item">Token: {{ current_user.token }}</li>
        <!-- Additional information specific to street fighter can be added here -->
    </ul>
</div>

<div class="container text-center mt-5">
    <h3>Your Favorite Fighters</h3>
    <!-- Example of how you might display user-related fighters -->
    <div class="row">
        {% for fighter in current_user.fighters %}
        <div class="col-md-4 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ fighter.name }}</h5>
                    <p class="card-text">Origin: {{ fighter.origin }}</p>
                    <p class="card-text">Special Move: {{ fighter.special_move }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
